.App{
    .test{
        color : $fontColor-f;
        background-color: $impactColor;
    }
}

.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

.text-uppercase{text-transform: uppercase;}
.text-capitalize{text-transform: capitalize;}
.text-lowercase{text-transform: lowercase;}