/* Pretendard */

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../../font/Pretendard-Regular.woff2') format('woff2'),
      /* Super Modern Browsers */ url('../../font/Pretendard-Regular.woff') format('woff'),
      /* Modern Browsers */ url('../../font/Pretendard-Regular.ttf') format('truetype'),
      /* Safari, Android, iOS */ url('../../font/Pretendard-Regular.svg#Pretendard') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../../font/Pretendard-Medium.woff2') format('woff2'),
      /* Super Modern Browsers */ url('../../font/Pretendard-Medium.woff') format('woff'),
      /* Modern Browsers */ url('../../font/Pretendard-Medium.ttf') format('truetype'),
      /* Safari, Android, iOS */ url('../../font/Pretendard-Medium.svg#Pretendard') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('../../font/Pretendard-SemiBold.woff2') format('woff2'),
      /* Super Modern Browsers */ url('../../font/Pretendard-SemiBold.woff') format('woff'),
      /* Modern Browsers */ url('../../font/Pretendard-SemiBold.ttf') format('truetype'),
      /* Safari, Android, iOS */ url('../../font/Pretendard-SemiBold.svg#Pretendard') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../../font/Pretendard-Bold.woff2') format('woff2'),
      /* Super Modern Browsers */ url('../../font/Pretendard-Bold.woff') format('woff'),
      /* Modern Browsers */ url('../../font/Pretendard-Bold.ttf') format('truetype'),
      /* Safari, Android, iOS */ url('../../font/Pretendard-Bold.svg#Pretendard') format('svg'); /* Legacy iOS */
}
  